{% load static %}
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ educator.template_title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    
    <link rel="icon" type="image/png" href="{% static 'images/nibo_test_network.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/educator.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'js/jQuery-TE_v/jquery-te-Style.css' %}" charset="utf-8" />

    <script src="{% static 'js/jquery.3.7.1.js' %}" type="text/JavaScript"></script>
    <script src="{% static 'js/educator.js' %}" type="text/JavaScript"></script>
    <script src="{% static 'js/jQuery-TE_v/jquery-te-Core.js' %}" type="text/JavaScript"></script>
    <!--<script src="https://unpkg.com/htmx.org@1.5.0/dist/htmx.js"></script>-->
  </head>
  <body>
        <!-- Warning -->
        <ul style="list-style-type: none;">
          <li class="warning" style="display: none;"></li>
          {% if redirect %}
          <li class="redirect"><strong style="display: flex; margin-bottom: -10px;">Oops redirection</strong><br>
            <div style="width: 100%; position: relative; top: 32px; left: -9px;" class="redirect-sliding-stroke"></div>
            you're redirected &nbsp; &nbsp; &nbsp; &nbsp; 
            <strong style="border: 1px solid black; border-radius: 50%; font-size: 10px; padding: 4px 6px;"> I</strong>
          </li>
          {% endif %}
        </ul>
        <!-- End warning -->
        {% if warning %}
        <p class="warningg">{{ warning }}</p>
        {% endif %}
        {% if success %}
        <p class="success_notification">{{ success }}</p>
        {% endif %}
    <div class="container">
      <section class="left">
        <div class="pp_cover">
          {% if educator.profile_pic %}
          <div><img src="{}"></div>
          {% else %}
          <div class="pp_cover_img"><p>{{ educator.pp }}</p></div>
          {% endif %}
          <h5>{{ educator.fullname }}</h5>
        </div>
        <ul style="list-style-type: none;" class="first_ul">
          <li><button class="menu-button">&#9776;</button></li>
          <li><span class="ico one"></span><a href="{% url 'educator_dashboard' educator_id=educator.id %}">Dashboard</a></li>
          <li><span class="ico three"></span><a style="margin-left: -3px;" href="{% url 'educator_students' educator_id=educator.id %}">Students</a></li>

          <li><span class="ico twoo"></span><a id="a_educator_id" href="{% url 'educator_exams' educator_id=educator.id %}">Exams</a></li>
          <li><span class="ico four"></span><a href="{}">Notifications</a></li>
          <li><span class="ico five"></span><a href="{}">Reports</a></li>
          <li><span class="ico six"></span><a href="{}">Settings</a></li>
          <li><span class="ico seven"></span><a href="{% url 'educator_logout' %}">Logout</a></li>
        </ul>
        </ul>
      </section>


      {% block content %}
      <section class="right">
        <header style="background: #191919; width: 100%; position: absolute; padding: 110px; z-index: -1;"></header>
        <h1 style="margin: 5% 0% 0% 5%; grid-row: 1; color: #fff;">Educator dashboard</h1>
        <div class="main-skills">
          <div style="background: yellow;" class="card">
            <div class="scroll_information">
              <div class="scroll_information_words">
                {% if exams %}
                  {% for items in exams %}
                    {% if forloop.last %}
                      <h3>{{ forloop.counter }}</h3>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <h3>0</h3>
                {% endif %}
                <p>Exams Created</p>
              </div>
              <div class="scroll_information_img2"></div>
            </div>
            <a style="background: black; color: #fff;" type="button" href="{% url 'educator_exams' educator_id=educator.id %}">New exam</a>
          </div>

          <div style="background: black; color: #fff;" class="card">
            <div class="scroll_information">
              <div class="scroll_information_words">
                <h3>200</h3>
                <p>Students Created</p>
              </div>
              <div class="scroll_information_img"></div>
            </div>
            <a type="button" href="{% url 'educator_students' educator_id=educator.id %}">Add students</a>
          </div>
        </div>


        <div style="grid-row: 2; z-index: 1; margin: 3% 0% 0% -40%;" class="calendar">
          <div class="c-container">
            <div class="calendar_background">
            <div class="calendar-base">
              <div class="year"></div>
              <div class="months">
                <span class="month-hover">Jan</span>
                <span class="month-hover">Feb</span> 
                <span class="month-hover">Mar</span> 
                <span class="month-hover">Apr</span>
                <span class="month-hover">May</span>
                <span class="month-hover">Jun</span>
                <span class="month-hover">Jul</span> 
                <span class="month-hover">Aug</span> 
                <span class="month-hover">Sep</span> 
                <span class="month-hover">Oct</span> 
                <span class="month-hover">Nov</span> 
                <span class="month-hover">Dec</span>
              </div>
          
              <div class="days">
                <div class="mon">
                  <p>MON</p>
                  <ul style="list-style-type: none; color: black; font-weight: lighter;"></ul>
                </div>
                <div class="tue">
                  <p>TUE</p>
                  <ul style="list-style-type: none; color: black; font-weight: lighter;"></ul>
                </div>
                <div class="wed">
                  <p>WED</p>
                  <ul style="list-style-type: none; color: black; font-weight: lighter;"></ul>
                </div>
                <div class="thu">
                  <p>THU</p>
                  <ul style="list-style-type: none; color: black; font-weight: lighter;"></ul>
                </div>
                <div class="fri">
                  <p>FRI</p>
                  <ul style="list-style-type: none; color: black; font-weight: lighter;"></ul>
                </div>
                <div class="sat">
                  <p>SAT</p>
                  <ul style="list-style-type: none; color: black; font-weight: lighter;"></ul>
                </div>
                <div class="sun">
                  <p>SUN</p>
                  <ul style="list-style-type: none; color: black; font-weight: lighter;"></ul>
                </div>
              </div>
          </div>
          </div>
            <div class="calendar-left">
        
              <div style="padding: 30px 0px 0px 0px; text-align: center;" class="num-date-and-day">
              <div class="num-date"></div>
              <div class="day"></div>
            </div>
              <div class="current-events">Current Events
                <br/>
                <ul>
                  <li style="font-size: 10px; margin-left: 10%;">Day 09 Daily CSS Image</li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="main-exam">
          <h1 style="margin-left: 0%;">Exam progress</h1>
          <div class="exam-box">
            <ul>
              <li class="active"><div class="wrap_input"> <input value="In progress" type="button">
              <li class="future"><div class="wrap_input"> <input value="Upcoming" type="button">
              <li class="completed"><div class="wrap_input"> <input value="Finished" type="button">
            </ul>
            <div class="exam_progress_cover">
            <div class="active_exam">
              {% if exams %}
              {% if active_exam_count > 0 %}
              {% for items in exams %}
              {% if items.status == "active" %}
              <div class="box">
                <h3>{{ items.exam_title }}</h3>
                <p>{{ items.exam_description }}</p>
                <span style="display: block; display: block; font-size: 11px; margin-top: 15px;">{{ items.status }}</span>
                <button>More details</button>
              </div>
              {% endif %}
              {% endfor %}
              {% else %}
              <p style="margin: 20px">No active exams</p>
              {% endif %}
              {% else %}
              <p style="margin: 20px;">You don't have any exam yet</p>
              {% endif %}
            </div>
            </div>

            <div class="exam_progress_cover">
            <div class="future_exam" style="display: none;">
              {% if exams %}
              {% if upcoming_count > 0 %}
              {% for items in exams %}
              {% if items.current_date %}
              <div class="box">
                <h3>{{ items.exam_title }}</h3>
                <p>{{ items.exam_description }}</p>
                <span style="display: block; font-size: 11px; margin-top: 15px;">{{ items.status }}</span>
                <button>More details</button>
              </div>
              {% endif %}
              {% endfor %}
              {% else %}
              <p style="margin: 20px;">No upcoming exams</p>
              {% endif %}
              {% else %}
              <p style="margin: 20px;">You don't have any exam yet</p>
              {% endif %}
            </div>
            </div>

            <div class="exam_progress_cover">
            <div class="completed_exam" style="display: none;">
              {% if exams %}
              {% if finished_count > 0 %}
              {% for items in exams %}
              {% if not items.current_date %}
              <div class="box">
                <h3>{{ items.exam_title }}</h3>
                <p>{{ items.exam_description }}</p>
                <span style="display: block; font-size: 11px; margin-top: 15px;">{{ items.status }}</span>
                <button>More details</button>
              </div>
              {% endif %}
              {% endfor %}
              {% else %}
              <p style="margin: 20px;">No finished exams</p>
              {% endif %}
              {% else %}
              <p style="margin: 20px;">You don't have any exam yet</p>
              {% endif %}
            </div>
            </div>

            </div>
          </div>

          {% if exams %}
          {% if upcoming_count > 0 %}
              <div style="margin-bottom: 80px; margin-top: -20px; width: fit-content; grid-row: 4; margin-left: 5%;" class="exams_upcoming">
                  <h3 style="margin-top: 100px;">Upcoming exams</h3>
                          <div style="box-shadow: 1px 2px 5px #00000057; border-radius: 10px; margin-top: 20px; padding: 20px 30px;">
                              <p style="font-size: 14px;"><strong>{{ upcoming_count }}</strong> Upcoming</p>
                              {% for items in exams %}
                                  {% if items.current_date %}
                                      <ul style="list-style-type: none;">
                                          <li style="display: grid; grid-template-columns: 1.55fr 1.55fr 0fr;" class="all_exams_li">
                                              <div style="display: grid; font-size: 10px; width: 111px; overflow: scroll; background: inherit;">
                                              <strong style="font-size: 14px;">{{ items.exam_title }}</strong>
                                              To end: {{ items.end_date|date:"d b Y" }}
                                              </div> 
                                              <strong style="display: flex; width: 100px; overflow: scroll; font-size: 11px;">{{ items.number_of_questions }} questions</strong>
                                              <strong style="display: flex; width: 100px; overflow: scroll; font-size: 11px;">{{  items.number_of_students  }} Students</strong>
                                              <input type="button" class="more_details" value="&vellip;">
                                              <br>
                                              <div style="color: initial; display: none; margin-left: -160px; margin-top: 30px; width: min-content; padding: 15px; border-radius: 20px;"
                                              class="more_details_container">
                                                  <div><strong>Subject: </strong><p>{{ items.exam_title }}</p></div>
                                                  <div><strong>Description: </strong><textarea style="font-size: 12px;">{{ items.exam_description }}</textarea></div>
                                                  <div><strong>Number of students: </strong><p>{{ items.number_of_students }}</p></div>
                                                  <div><strong>Number of questions: </strong><p>{{ items.number_of_questions }}</p></div>
                                                  <div><strong>Overall duration: </strong><p>{{ items.duration }} mins</p></div>
                                                  <div><strong>Time limit: </strong><p>{{ items.time_limit }} mins</p></div>
                                                  <div><strong>To start: {{ items.start_date|date:"d b Y" }}</strong></div>
                                                  <div><strong>To end: {{ items.end_date|date:"d b Y" }}</strong></div>
                                                  <div><strong>Grade: </strong><p>{{ items.grade }}</p></div>
                                              </div>
                                          </li>
                                      </ul>
                                  {% endif %}
                              {% endfor %}
                          </div>
              </div>
          {% endif %}
          {% endif %}
        </div>
      </section>
      {% endblock %}
    </div>
  </body>
</html>
