{% load static %}
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ educator.template_title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    
    <link rel="icon" type="image/png" href="{% static 'images/nibo_test_network.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/educator.css' %}">
    <script src="{% static 'js/jquery.3.7.1.js' %}" type="text/JavaScript"></script>
    <script src="{% static 'js/educator.js' %}" type="text/JavaScript"></script>
    <!--<script src="https://unpkg.com/htmx.org@1.5.0/dist/htmx.js"></script>-->
  </head>
  <body>
        <!-- Warning -->
        <p class="warning" style="display: none;"></p>
        <!-- End warning -->
        {% if warning %}
        <p class="warningg">{{ warning }}</p>
        {% endif %}
    <div class="container">
      <section class="left">
        <div class="pp_cover">
          {% if educator.profile_pic %}
          <div><img src="{}"></div>
          {% else %}
          <div class="pp_cover_img"><p>{{ educator.pp }}</p></div>
          {% endif %}
          <h5>{{ educator.fullname }}</h5>
        </div>
        {% if redirect %}
        <p class="redirect">{{ redirect }}</p>
        {% endif %}
        <ul style="list-style-type: none;" class="first_ul">
          <li><button class="menu-button">&#9776;</button></li>
          <li><span class="ico one"></span><a href="{% url 'educator_dashboard' educator_id=educator.id %}">Dashboard</a></li>
          <li><span class="ico three"></span><a style="margin-left: -3px;" href="{% url 'educator_students' educator_id=educator.id %}">Students</a></li>

          <li><span class="ico twoo"></span><a id="a_educator_id" href="{% url 'educator_exams' educator_id=educator.id %}">Exams</a></li>
          <li><span class="ico four"></span><a href="{}">Notifications</a></li>
          <li><span class="ico five"></span><a href="{}">Records</a></li>
          <li><span class="ico six"></span><a href="{}">Settings</a></li>
          <li><span class="ico seven"></span><a href="{% url 'educator_logout' %}">Logout</a></li>
        </ul>
        </ul>
      </section>


      {% block content %}
      <section class="right">
        <header style="background: #191919; width: 100%; position: absolute; padding: 110px; z-index: -1;"></header>
        <h1 style="margin: 5% 0% 0% 5%; grid-row: 1; color: #fff;">Educator dashboard</h1>
        <div class="main-skills">
          <div style="background: yellow;" class="card">
            <div class="scroll_information">
              <div class="scroll_information_words">
                {% if exams %}
                  {% for items in exams %}
                    {% if forloop.last %}
                      <h3>{{ forloop.counter }}</h3>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <h3>0</h3>
                {% endif %}
                <p>Exams Created</p>
              </div>
              <div class="scroll_information_img2"></div>
            </div>
            <a style="background: black; color: #fff;" type="button" href="{% url 'educator_exams' educator_id=educator.id %}">New exam</a>
          </div>

          <div style="background: black; color: #fff;" class="card">
            <div class="scroll_information">
              <div class="scroll_information_words">
                <h3>200</h3>
                <p>Students Created</p>
              </div>
              <div class="scroll_information_img"></div>
            </div>
            <a type="button" href="{% url 'educator_students' educator_id=educator.id %}">Add students</a>
          </div>
        </div>


        <div style="grid-row: 2; z-index: 1; margin: 3% 0% 0% -40%;" class="calendar">
          <div class="c-container">
            <div class="calendar_background">
            <div class="calendar-base">
              <div class="year"></div>
              <div class="months">
                <span class="month-hover">Jan</span>
                <span class="month-hover">Feb</span> 
                <span class="month-hover">Mar</span> 
                <span class="month-hover">Apr</span>
                <span class="month-hover">May</span>
                <span class="month-hover">Jun</span>
                <span class="month-hover">July</span> 
                <span class="month-hover">Aug</span> 
                <span class="month-hover">Sep</span> 
                <span class="month-hover">Oct</span> 
                <span class="month-hover">Nov</span> 
                <span class="month-hover">Dec</span>
              </div>
          
              <div class="days">
                <ul style="list-style-type: none; display: block ruby;">
                  <li class="days_li">SUN</li>
                  <li class="days_li">MON</li>
                  <li class="days_li">TUE</li>
                  <li class="days_li">WED</li>
                  <li class="days_li">THU</li>
                  <li class="days_li">FRI</li>
                  <li class="days_li">SAT</li>
                </ul>
                </div>
              <div class="num-dates">
                <div class="first-week">
                    <ul style="list-style-type: none; display: block ruby;">
                      <span class="grey">
                      <li>26</li>
                      <li>27</li>
                      <li>28</li>
                      <li>29</li>
                      <li>30</li>
                      <li>31</li></span>
                      <li>01</li>
                  </ul>
                </div>
                <div class="second-week">  
                  <ul style="list-style-type: none; display: block ruby;">
                    <li>02</li>
                    <li>03</li>
                    <li>04</li>
                    <li>05</li>
                    <li>06</li>
                    <li>07</li>
                    <li>08</li>
                </ul>
                </div>
                <div class="third-week">
                  <ul style="list-style-type: none; display: block ruby;">
                    <li>09</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                </ul>
                </div>
                <div class="fourth-week">
                  <ul style="list-style-type: none; display: block ruby;">
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                </ul>
                </div>
                <div class="fifth-week">
                  <ul style="list-style-type: none; display: block ruby;">
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                </ul>
                </div>
                <div class="sixth-week">
                  <ul style="list-style-type: none; display: block ruby;">
                    <li>30</li>
                    <span class="grey">
                    <li>01</li>
                    <li>02</li>
                    <li>03</li>
                    <li>04</li>
                    <li>05</li>
                    <li>06</li></span>
                </ul>
              </div>
          
            </div>
          </div>
          </div>
            <div class="calendar-left">
          
              <div class="num-date">27</div>
              <div class="day">THURSDAY</div>
              <div class="current-events">Current Events
                <br/>
                <ul>
                  <li style="font-size: 10px; margin-left: 10%;">Day 09 Daily CSS Image</li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="main-exam">
          <h1 style="margin-left: 0%;">Exam progress</h1>
          <div class="exam-box">
            <ul>
              <li class="active"><div class="wrap_input"> <input value="In progress" type="button">
              <li class="future"><div class="wrap_input"> <input value="Upcoming" type="button">
              <li class="completed"><div class="wrap_input"> <input value="Finished" type="button">
              <li class="cancelled"><div class="wrap_input"> <input value="Cancelled" type="button">
            </ul>
            <div class="exam_progress_cover">
            <div class="active_exam">
              <div class="box">
                <h3>General Chemistry II</h3>
                <p>This is a description about chemistry </p>
                <button>More details</button>
              </div>
              <div class="box">
                <h3>Pratical Chemistry II</h3>
                <p>This is a description about chemistry </p>
                <button>More details</button>
              </div>
              <div class="box">
                <h3>Pratical Chemistry II</h3>
                <p>This is a description about chemistry </p>
                <button>More details</button>
              </div>
            </div>
            </div>

            <div class="exam_progress_cover">
            <div class="future_exam" style="display: none;">
              <div class="box">
                <h3>Maths</h3>
                <p>80% - progress</p>
                <button>More details</button>
              </div>
              <div class="box">
                <h3>English</h3>
                <p>50% - progress</p>
                <button>More details</button>
              </div>
              <div class="box">
                <h3>Pratical Chemistry II</h3>
                <p>This is a description about chemistry </p>
                <button>More details</button>
              </div>
            </div>
            </div>

            <div class="exam_progress_cover">
            <div class="completed_exam" style="display: none;">
              <div class="box">
                <h3>Advanced Maths</h3>
                <p>80% - progress</p>
                <button>More details</button>
              </div>
              <div class="box">
                <h3>CSS</h3>
                <p>50% - progress</p>
                <button>More details</button>
              </div>
              <div class="box">
                <h3>Pratical Chemistry II</h3>
                <p>This is a description about chemistry </p>
                <button>More details</button>
              </div>
            </div>
            </div>

            <div class="exam_progress_cover">
            <div class="cancelled_exam" style="display: none;">
              <div class="box">
                <h3>Chemistry</h3>
                <p>80% - progress</p>
                <button>More details</button>
              </div>
              <div class="box">
                <h3>CSS</h3>
                <p>50% - progress</p>
                <button>More details</button>
              </div>
              <div class="box">
                <h3>Pratical Chemistry II</h3>
                <p>This is a description about chemistry </p>
                <button>More details</button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </section>
      {% endblock %}
    </div>
  </body>
</html>
