{% load static %}
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ educator.template_title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    
    <link rel="icon" type="image/png" href="{% static 'images/nibo_test_network.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/educator_dashboard.css' %}">
    <script src="{% static 'js/jquery.3.7.1.js' %}" type="text/JavaScript"></script>
    <script src="{% static 'js/educator_dashboard.js' %}" type="text/JavaScript"></script>
  </head>
  <body>
    <div class="container">
      <section class="left">
        <div class="pp_cover">
          {% if educator.profile_pic %}
          <div><img src="{}"></div>
          {% else %}
          <div class="pp_cover_img"><p>{{ educator.pp }}</p></div>
          {% endif %}
          <p>{{ educator.fullname }}</p>
        </div>
        <ul style="list-style-type: none;" class="first_ul">
          <li><span class="ico one"></span><a href="{}">Dashboard</a></li>
          <li><span class="ico two"></span><a href="{}">Exams</a></li>
          <li><span class="ico three"></span><a href="{}">Students</a></li>
          <li><span class="ico four"></span><a href="{}">Notifications</a></li>
          <li><span class="ico five"></span><a href="{}">Records</a></li>
        </ul>

        <ul style="list-style-type: none;" class="second_ul">
          <li><span class="ico six"></span><a href="{}">Settings</a></li>
          <li><span class="ico seven"></span><a href="{% url 'educator_logout' %}">Logout</a></li>
        </ul>
        <div class="slider"><div></div></div>
      </section>


      <section class="right">
        <h1 style="margin: 10%;">Educator dashboard</h1>
        <div class="main-skills">
          <div class="card">
            <div class="scroll_information">
              <div class="scroll_information_words">
                <h3>10</h3>
                <p>Exams Created</p>
              </div>
              <div class="scroll_information_img2"></div>
            </div>
            <a style="" type="button" href="{% url 'educator_exams' educator_id=educator.id %}">New exam</a>
          </div>

          <div class="card">
            <div class="scroll_information">
              <div class="scroll_information_words">
                <h3>200</h3>
                <p>Students Created</p>
              </div>
              <div class="scroll_information_img"></div>
            </div>
            <a style="" type="button" href="{% url 'educator_students' educator_id=educator.id %}">Add students</a>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
