{% extends  'dashboard.html' %}

{% block content %}

    <div style="display: flex;" class="exams_container">
        <div class="loader-container">
            <div class="loader"></div>
    </div>
    <header style="background: #191919; width: 100%; position: absolute; padding: 110px; z-index: -1;"></header>
    <section style="margin: 5%;" class="exams_left">
    <h2 style="color: #fff;">Create and manage your exams</h2>

    <div style="position: relative; margin-top: 30px; width: fit-content" class="exams_search_container">
        <input placeholder="lookup exam by name" style="background: #fff; border: none; box-shadow: 1px 2px 5px #00000057; border-radius: 20px; padding: 15px 320px 15px 30px; font-size: 16px;" type="search">
        <button style="position: absolute; right: 20px; top: 10px; "></button>
    </div>


    <div style="margin-top: 40px; padding: 50px 0px 0px 100px;" class="exams_create_an_exam">
        <h4 style="padding: 10px 15px; cursor: pointer; margin-left: -110px;
        background: yellow; width: fit-content; border-radius: 20px; height: fit-content;">click to create exam</h4>

        <ul style="border-radius: 12px; background: #ffff7f;
        width: fit-content; padding: 10px 20px; position: absolute; top: 0; right: 10px;">
        <div class="sliding-stroke"></div>
            <strong>&#9432;&nbsp;Instructions when creating an exam</strong>
            <li style="margin: 5px 0px 0px 18px; font-size: 13px;"><strong>Title: </strong>Name of exam e.g Mathematics, English, French</li>
            <li style="margin: 5px 0px 0px 18px; font-size: 13px;"><strong>Description: </strong>Instructions to be sent to students</li>
            <li style="margin: 5px 0px 0px 18px; font-size: 13px;"><strong>Start date: </strong> Day exam starts, could be a future date or current</li>
            <li style="margin: 5px 0px 0px 18px; font-size: 13px;"><strong>End date: </strong>Day exam ends, could be a future date or current</li>
            <li style="margin: 5px 0px 0px 18px; font-size: 13px;"><strong>Number of students: </strong>Number of students to take exam</li>
            <li style="margin: 5px 0px 0px 18px; font-size: 13px;"><strong>Number of questions: </strong>Number of exam questions<br>(can be extended/reduced when editing questions)</li>
            <li style="margin: 5px 0px 0px 18px; font-size: 13px;"><strong>Overall exam grade: </strong> Exam weight</li>
            <li style="margin: 5px 0px 0px 18px; font-size: 13px;"><strong>Time limit (in minutes): </strong> Time allowed when student starts exam</li>
            <br><br><strong style="margin-top: 20px;">More Instructions:</strong>
            <li style="margin: 5px 0px 0px 18px; font-size: 13px;"><strong>Overall duration of exam (in minutes):</strong> Works for active exams only</li>
            <li style="margin: 5px 0px 0px 18px; font-size: 13px;"><strong>Exams can be set to active during question creation </strong></li>
        </ul>
    </div>







    <div style="display: flex;" class="all_exams">
    <div style="margin-top: -20px; width: max-content;" class="exams_my_exams">
        <h3 style="margin-top: 100px;">Exams Overview</h3>
        <div style="box-shadow: 1px 2px 5px #00000057; border-radius: 10px; margin-top: 20px; padding: 20px 30px;">
            {% if exams %}
            <strong class="number_of_exams" style="font-size: 14px;">{{ exams|length }}</strong><p style="display: inline; font-size: 12px;"> exams created</p>
            {% for dicts in grouped_exams %}
            <ul style="list-style-type: none;">
                {% for items in dicts %}
                {% if forloop.first %}
                <p id="start_date_" style="margin-top: 30px; font-size: 13px;"><strong>Start date:</strong> {{ items.start_date|date:"d b Y" }}</p>
                {% endif %}
                <li style="display: grid; grid-template-columns: 1.55fr 1.55fr 0fr;" class="all_exams_li">
                    <div style="display: grid; font-size: 10px; width: 111px; overflow: scroll; background: inherit;">
                    <strong data-exam-title="{{ items.exam_title }}" style="font-size: 14px;">{{ items.exam_title }}</strong>
                    To end: {{ items.end_date|date:"d b Y" }}
                    </div>
                    <strong data-exam-no-of-questions="{{ items.number_of_questions }}"
                    style="display: flex; width: 100px; overflow: scroll; font-size: 11px;">{{ items.number_of_questions }} questions</strong>

                    <strong data-exam-no-of-students="{{ items.number_of_students }}"
                    style="display: flex; width: 100px; overflow: scroll; font-size: 11px;">{{  items.number_of_students  }} Students</strong>

                    <input type="button" class="more_details" value="&vellip;">
                    <br>
                    <div style="color: initial; display: none; margin-left: -160px; margin-top: 30px; width: min-content; padding: 15px; border-radius: 20px;"
                    class="more_details_container">
                        <div><strong>Subject: </strong><p>{{ items.exam_title }}</p></div>
                        <div><strong data-exam-description="{{ items.exam_description }}">Description: </strong><textarea style="font-size: 12px;">{{ items.exam_description }}</textarea></div>
                        <div><strong>Number of students: </strong><p>{{ items.number_of_students }}</p></div>
                        <div><strong>Number of questions: </strong><p>{{ items.number_of_questions }}</p></div>
                        <div><strong data-exam-time-limit="{{ items.time_limit }}">Time limit: </strong><p>{{ items.time_limit }}</p></div>
                        <div><strong data-exam-start-date="{{ items.start_date|date:'Y-m-d' }}">To start: {{ items.start_date|date:"d b Y" }}</strong></div>
                        <div><strong data-exam-end-date="{{ items.end_date|date:'Y-m-d' }}">To end: {{ items.end_date|date:"d b Y" }}</strong></div>
                        <div><strong data-exam-grade="{{ items.grade }}">Grade: </strong><p>{{ items.grade }}</p></div>
                        <div style="box-shadow: none; padding: 0;">
                            {% csrf_token %}
                            <button class="more_details_delete" data-exam-id="{{ items.id }}" style="cursor: pointer;">Delete</button>
                            {% if items.has_question == '1' %}
                            <input class="go_to_questions" type="button" value="Go to questions" style="color: #fff;">
                            {% else %}
                            <input class="more_details_edit" type="button" value="Edit" style="color: #fff;">
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
            {% else %}
            <ul style="list-style-type: none;">
                <li>You don't have any exam yet</li>
            </ul>
            {% endif %}
        </div>
    </div>

    </div>
</section>
</div>

<form id="create_exam_form" style="position: fixed; top: 5%; background: #fff;
        flex-wrap: wrap; width: 90%; box-shadow: 1px 2px 5px #00000057;
        border-radius: 10px; margin-top: 20px; padding: 50px 0px 50px 30px;
        display: none; z-index: 3; right: 2%; height: 90%;">
            <div style="padding: 0; height: 50px;" class="pp_cover">
                {% if educator.profile_pic %}
                <div><img src="{}"></div>
                {% else %}
                <div class="pp_cover_img"><p>{{ educator.pp }}</p></div>
                {% endif %}
                <section class="toolkit-container" style="position: relative;">
                <p style="color: red; border: none;
                background: #ffff7f; box-shadow: 1px 2px 5px #00000057;
                width: fit-content; font-size: 13px;
                padding: 2px 10px; border-radius: 20px;
                font-weight: 600; margin: 0px 0px 0px 20px; cursor: default;">&otimes; Inactive</p>
                <h6 style="font-size: 10px; position: absolute;
                top: -12px; right: -420px;
                display: none;">&#9432;&nbsp;an exam is automatically set to inactive upon creation until you add questions to it !!</h6>
                </section>
              </div>
              
              <div class="exams_wrap_input" style="margin-left: -43px;">
                    <input class="exams_new_input" minlength="6" type="text" name="title">
                    <span class="exams_new_input_span" data-placeholder="Title e.g Introduction to Chemistry"></span>
                </div>
                <div class="exams_wrap_input">
                    <textarea class="exams_new_input_ textarea" name="description" id="description" placeholder="Description 650 max words"></textarea>
                    <div class="word_counter" style="font-size: 12px;"></div>
                </div>
                <div class="exams_wrap_input">
                    <input class="exams_new_input sstart_datee" type="date" name="start_date" style="padding-top: 20px;">
                    <span class="exams_new_input_span" data-placeholder="Start Date"></span>
                </div>
                <div style="margin-left: 120px;" class="exams_wrap_input">
                    <input class="exams_new_input eend_datee" type="date" name="end_date" style="padding-top: 20px;">
                    <span class="exams_new_input_span" data-placeholder="End Date"></span>
                </div>
                <div style="border: none;" class="exams_wrap_input authy_f">
                    <input type="text" id="digit-1" class="input_number student_1" name="students_no_digit-1" data-next="digit-2"/>
                    <input type="text" id="digit-2" class="input_number student_2" name="students_no_digit-2" data-next="digit-3" data-previous="digit-1" />
                    <input type="text" id="digit-3" class="input_number student_3" name="students_no_digit-3" data-next="digit-4" data-previous="digit-2" />
                    <input type="text" id="digit-4" class="input_number student_4" name="students_no_digit-4" data-next="digit-5" data-previous="digit-3" />
                    <input type="text" id="digit-5" class="input_number student_5" name="students_no_digit-5" data-next="digit-6" data-previous="digit-4" />
                    <span class="exams_new_input_span" data-placeholder="Number of students"></span>
                </div>
                <div style="border: none; margin-left: 100px;" class="exams_wrap_input authy_f">
                    <input type="text" id="digit-1" class="input_number question_1" name="question_digit-1" data-next="digit-2"/>
                    <input type="text" id="digit-2" class="input_number question_2" name="question_digit-2" data-next="digit-3" data-previous="digit-1" />
                    <input type="text" id="digit-3" class="input_number question_3" name="question_digit-3" data-next="digit-4" data-previous="digit-2" />
                    <input type="text" id="digit-4" class="input_number question_4" name="question_digit-4" data-next="digit-5" data-previous="digit-3" />
                    <input type="text" id="digit-5" class="input_number question_5" name="question_digit-5" data-next="digit-6" data-previous="digit-4" />
                    <span class="exams_new_input_span" data-placeholder="Number of questions"></span>
                </div>
                <div style="border: none; margin-left: 120px;" class="exams_wrap_input authy_f">
                    <input type="text" id="digit-1" class="input_number grade_1" name="grade_digit-1" data-next="digit-2"/>
                    <input type="text" id="digit-2" class="input_number grade_2" name="grade_digit-2" data-next="digit-3" data-previous="digit-1" />
                    <input type="text" id="digit-3" class="input_number grade_3" name="grade_digit-3" data-next="digit-4" data-previous="digit-2" />
                    <input type="text" id="digit-4" class="input_number grade_4" name="grade_digit-4" data-next="digit-5" data-previous="digit-3" />
                    <input type="text" id="digit-5" class="input_number grade_5" name="grade_digit-5" data-next="digit-6" data-previous="digit-4" />
                    <span class="exams_new_input_span" data-placeholder="Overall exam grade"></span>
                </div>
                <div style="border: none;" class="exams_wrap_input">
                    <select style="margin-top: 50px; padding: 2px 20px; border-radius: 50px;" id="time_limit_select">
                        <option value="5"> 5 Minutes</option>
                        <option value="10">10 Minutes</option>
                        <option value="15">15 Minutes</option>
                        <option value="20">20 Minutes</option>
                        <option value="30">30 Minutes</option>
                        <option value="40">40 Minutes</option>
                        <option value="50">50 Minutes</option>
                        <option value="60">60 Minutes</option>
                        <option value="90">90 Minutes (1hour 30mins)</option>
                        <option value="120">120 Minutes (2 hour)</option>
                        <option>Custom time</option>
                    </select>
                    <input name="time_limit" style="border: 1px solid; display: none; margin: 10px; padding: 6px; border-radius: 5px;" class="custom_option" minlength="5">
                    <span class="exams_new_input_span" data-placeholder="Time allowed when student start exam"></span>
                </div>
                
                <div class="wrap_login" style="text-align: center;">
                {% csrf_token %}
                <button style="background: black; padding: 10px 25px; color: #fff; border-radius: 50px; cursor: pointer;" class="create_exam_btn"> Create exam now </button>
                <input type="button" style="background: black; padding: 10px 25px; color: #fff; border-radius: 50px; cursor: pointer;" class="cancel_exam_create" value="Cancel">
                <input type="button" style="background: black; padding: 10px 25px; color: #fff; border-radius: 50px; cursor: pointer; display: none;" class="add_questions" value="Add questions">
                </div>
        </form>    


    <div class="all_question_form">
        <form id="create_questions_form" style="position: fixed; top: 2%; background: #fff;
        flex-wrap: wrap; width: 90%; box-shadow: 1px 2px 5px #00000057;
        border-radius: 5px; margin-top: 20px; padding: 50px 0px 50px 30px;
        display: none; z-index: 3; right: 2%; width: 0; height: 92%; overflow-y: scroll;">
            <div style="display: grid; grid-template-columns: 1fr 0.1fr; grid-template-rows: 1fr; margin-top: 30px;" class="question_container">

                <div class="question_text_box_container" style="grid-row: 1;">
                    <div style="display: flex; gap: 15%; margin-top: 10px; position: relative;" class="question_buttons">
                        <input class="cancel_questions_create" type="button" style="cursor: pointer; background: transparent; font-size: 15px; font-weight: 900; position: absolute; top: -33px;" value="X">
                        <input class="go_back" type="button" style="font-size: 13px; background: black; padding: 10px 20px; color: #fff; border-radius: 50px; cursor: pointer;" value="Back to exam">
                        <input class="next_question" type="button" style="font-size: 13px; background: black; padding: 10px 20px; color: #fff; border-radius: 50px; cursor: pointer;" value="Next question">
                        {% csrf_token %}
                        <button class="save_all" type="button" style="font-size: 13px; background: black; padding: 10px 20px; color: #fff; border-radius: 50px; cursor: pointer;">Save question </button>
                        <h5 style="font-size: 10px; position: absolute; top: -40px; right: -5px; display: none; background: gainsboro;
                        padding: 4px 9px;">&#9432;&nbsp; When this action is triggered, question is saved and it can not be edited in this section</h5>
                    </div>
                    <textarea id="formatted-text-textarea" placeholder="Enter question" class="question_text_box" style="font-size: 14px; width: 720px; height: 320px; border: 1px solid black; padding: 20px 15px;"></textarea>
                    <div class="word_counter" style="font-size: 12px; margin-top: -15px;"></div>
                    <div class="question_type_select" style="margin-top: 20px; display: flex; gap: 100px;">
                        <div id="qts1">
                            <h5>Select answer type</h5>
                            <select class="select_answer_type" style="padding: 5px 20px; border-radius: 30px; font-size: 12px; margin-top: 10px;">
                                <option value="single">Single answer</option>
                                <option value="multiple">Multiple answers</option>
                            </select>
                            <div style="margin-top: 30px; width: 200px; font-size: 11px;" id="upload_media_files">
                                <h3>Upload local media files</h3>
                                <input style="width: 210px; margin-bottom: 20px; margin-top: 12px;" type="file" id="fileInput" multiple accept=".png, .jpg, .jpeg, .mp4, .gif">
                                <div class="mediaList"></div>
                            </div>
                        </div>
                        <div id="qts2">
                            <ul style="list-style-type: none;" id="add_more_question_ul">
                                <li><h5>Enter answers &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Answer type</h5></li>
                                <li style="display: flex; position: relative;"><span style="font-size: 15px; align-self: center; margin: 15px 10px 0px 0px;">1</span> <input class="question_checked waschecked" style="color: yellow; position: absolute; top: 30px; left: -25px;" type="radio" checked="checked"/>
                                    <textarea class="options_textarea" style="margin-top: 15px; border: 1px solid black; padding: 5px 10px; border-radius: 10px; font-size: 12px;" placeholder="Enter answer"></textarea>
                                        <select style="padding: 5px 15px; height: fit-content; border-radius: 10px; font-size: 10px; margin-top: 20px; margin-left: 10px;">
                                            <option value="text">Text</option>
                                            <option value="imgurl">Image url</option>
                                            <option value="vidurl">Video url</option>
                                            <option value="youturl">Youtube embed</option>
                                        </select>
                                </li>
                                <li style="display: flex; position: relative;"><span style="font-size: 15px; align-self: center; margin: 15px 10px 0px 0px;">2</span> <input class="question_checked" style="color: yellow; position: absolute; top: 30px; left: -25px;" type="radio"/>
                                    <textarea class="options_textarea" style="margin-top: 15px; border: 1px solid black; padding: 5px 10px; border-radius: 10px; font-size: 12px;" placeholder="Enter answer"></textarea>
                                        <select style="padding: 5px 15px; height: fit-content; border-radius: 10px; font-size: 10px; margin-top: 20px; margin-left: 10px;">
                                            <option value="text">Text</option>
                                            <option value="imgurl">Image url</option>
                                            <option value="vidurl">Video url</option>
                                            <option value="youturl">Youtube embed</option>
                                        </select>
                                </li>
                            </ul>
                            <input id="add_more_question_button" style="box-shadow: 1px 2px 5px #00000057; margin-top: 15px; font-size: 10px; padding: 5px 20px; border-radius: 20px;" type="button" value="click to add more answer"/>
                        </div>
                    </div>

                </div>
                <div class="question_links_container" style="grid-column: 3; margin-top: -100px;">
                    <ul style="list-style-type: none; position: absolute; top: 0; margin-top: 35px; font-size: 13px;">
                        <li style="list-style-type: disc;"><h4>Add links to question</h4></li>
                        <li style="list-style: disclosure-closed; font-size: 12px;">Images, gifs and videos are allowed</li>
                        <li style="list-style: disclosure-closed; font-size: 12px;">for Youtube videos paste the embeded link</li>
                    </ul>
                    <ul class="question_links_ul" style="list-style-type: none; padding: 35px 0px 0px 30px;">
                        <li>
                            <div class="question_wrap_input" style="position: relative;">
                                <input class="question_new_input" type="url" name="link">
                                <span class="question_new_input_span" data-placeholder=".png, .jpeg, .jpg, .gifs, .mp4 files are allowed"></span>
                                <input class="question_new_input_check_mark" type="button" value="add media to question"
                                style="color: green; position: absolute; right: -115px; top: 35px;
                                font-size: 8px; padding: 4px 10px; border-radius: 15px;">
                                <img style="height: 160px; position: absolute; right: -325px; top: -10px;" class="question_image_viewport"/>
                            </div>
                        </li>
                        <br>
                    </ul>
                    <input class="add_more_links" style="font-size: 11px; padding: 5px 10px; border-radius: 10px; background: yellow;
                    font-weight: bold; cursor: pointer; margin: 30px 0px 0px -10px;" type="button" value="click to add more than one link">
                </div>
            </div>

        </form>
        
    </div>

    <div class="loading-overlay"> 
        <div class="loading-spinner"> 
  
        </div> 
        <div class="loading-text"> 
            Please wait, fetching data...
        </div> 
    </div> 

    <div class="go_to_questions_container">
        <ul class="go_to_ul">

        </ul>
        <input class="go_to_questions_add_more_question" type="button" value="Add more question">
    </div>
{% endblock %}
