/NIBO_env/*
/NIBO_builder/__pycache__/*
db.sqlite3
.env
/Admin/__pycache__/*
/exams/__pycache__/*
/questions/__pycache__/*
/students/__pycache__/*
/examiner/__pycache__/*
/examiner/migrations/*

/Admin/migrations/*
/exams/migrations/*
/questions/migrations/*
/students/migrations/*
/examiner/migrations/*