/NIBO_env/*
/NIBO_builder/__pycache__/*
db.sqlite3
.env
/Admin/__pycache__/*

/base_model/__pycache__*
/base_model/caching/__pycache__/*
/exams/__pycache__/*
/questions/__pycache__/*
/students/__pycache__/*
/educator/__pycache__/*
/educator/migrations/*
/exams_attempt/__pycache__/*
/homepage/__pycache__/*
/report/__pycache__/*

/Admin/migrations/*
/exams/migrations/*
/questions/migrations/*
/students/migrations/*
/educator/migrations/*
/exams_attempt/migrations/*
/homepage/migrations/*
/report/migrations/*
