/NIBO_env/*
/NIBO_builder/__pycache__/*
db.sqlite3
.env
/Admin/__pycache__/*
/Exams/__pycache__/*
/Questions/__pycache__/*
/Students/__pycache__/*
/nibo_test_network/__pycache__/*
/nibo_test_network/migrations/*