*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.success_notification {
  position: absolute;
  top: 5%;
  left: 50%;
  background: #b2f8b2;
  border: 2px solid #b2f8b2;
  padding: 10px 20px;
  color: #006400;
}
body{
  background: #dadada88;
}
.container{
  display: flex;
}
.left {
  margin: 3% 0.5% 0% 0%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.pp_cover {
  padding: 5px 0px 5px 15px;
  display: flex;
  align-items: center;
}
.pp_cover_img {
  background: #8888;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}.pp_cover h5 {
  margin-left: 12px;
  width: 110px;
  white-space: nowrap;
}
.right, .exams_container {
  background: #f9f9f9;
  margin: 1.5% 0% 0% 5%;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  width: 95%;
  z-index: 1;
  transition: margin-left 0.4s ease-in;
  position: absolute;
}
.first_ul {
  margin: 25% 0% 30% 0%;
}
.first_ul a {
  display: none;
}
.second_ul {
  margin: 30% 0% 0% 0%;
}
.second_ul a {
  display: none;
}
.first_ul li, .second_ul li {
  margin-bottom: 15%;
  display: flex;
  align-items: center;
  gap: 10%;
  margin-left: 22px;
}
.first_ul span, .second_ul span { cursor: pointer; }
.ico {
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  width: 25px;
  height: 25px;
  display: inline-block;
  flex-shrink: 0;
}
a { color: black; }

.one { background: url('../images/dashboard.png'); }
.twoo { background: url('../images/exams.png'); }
.three { background: url('../images/students.png'); width: 29px; height: 29px;}
.four { background: url('../images/notification.png' ); flex-shrink: 0; }
.five { background: url('../images/light/report_light.png'); }
.six { background: url('../images/settings.png'); width: 29px; height: 29px; }
.seven { background: url('../images/exit.png'); width: 20px; height: 20px; margin-left: 3%; }

.left_background {
  background: #fff;
  padding: 5px 150px 5px 15px;
}
.main-skills{
  display: flex;
  margin-top: 20px;
  margin-left: 5%;
  grid-row: 2;
}
.main-skills .card{
  margin: 10px;
  /*background: #dadada88;*/
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.17);
  height: 20vh;
  display: flex;
  flex-direction: column;
  gap: 25%;
  width: 220px;
  position: relative;
}
.main-skills .card h3{
  margin: 10px;
  text-transform: capitalize;
  font-size: x-large;
}
.main-skills .card p{
  font-size: 10px;
}
.main-skills .card a[type=button] {
  background: #ffff7f;
  /*box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.43);*/
  color: black;
  padding: 5px 30px;
  cursor: pointer;
  width: fit-content;
  font-size: medium;
  align-self: center;
  position: absolute;
  bottom: 15px;
  border-radius: 10px;
}
.main-skills .card a[type=button]:hover{
  background: #fff;
  color: black;
}

.scroll_information {
  display: flex;
  overflow-y: clip;
}

.scroll_information_words {
  width: 40%;
  overflow: scroll;
}

.scroll_information_img {
  background: url('../images/students.png');
}
.scroll_information_img2 {
  background: url('../images/exams.png');
}

.scroll_information_img, .scroll_information_img2 {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 40px;
  height: 40px;
}

.main-exam{
  margin-top: -100px;
  text-transform: capitalize;
  margin-left: 5%;
  grid-row: 3;
  width: max-content;
  margin-bottom: 100px;
}
.exam-box{
  width: 100%;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.exam-box ul{
  list-style: none;
  display: flex;
}
.exam-box ul li{
  margin: 10px;
  color: gray;
  cursor: pointer;
  position: relative;
}

.exams_wrap_input {
  position: relative;
}

.active input, .future input, .completed input, .cancelled input {
  width: 100%;
  background: 0 0;
  color: black;
  cursor: pointer;
}

.new_input_span {
  position: absolute;
  display: block;
  width: 0;
  left: 0;
  pointer-events: none;
  bottom: -2px;
  height: 2.5px;
  transition: width 0.7s ease;
  background: #888;
}

.exam-box .active_exam {
  display: flex;
  width: 0;
  transition: width 1s ease;
}
.exam-box .future_exam, .exam-box .completed_exam, .exam-box .cancelled_exam {
  width: 0;
  transition: width 1s ease;
}
.box{
  width: 90%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: #dadada88;
  height: fit-content;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.17);
}

.box:hover {
  color: #fff;
  background: black;
}

.box:hover button {
  background: #fff;
  color: black;
}

.box h3 {
  overflow: hidden;
}

.box p{
  font-size: 12px;
  margin-top: 5px;
  word-wrap: break-word;
  white-space: break-spaces;
}
.box button{
  background: #ffff7f;
  color: black;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}

.box i{
  font-size: 7rem;
  float: right;
  margin: -20px 20px 20px 0;
}
.html{
  color: rgb(25, 94, 54);
}
.css{
  color: rgb(104, 179, 35);
}
.js{
  color: rgb(28, 98, 179);
}
.exam_progress_cover {
  width: 430px;
  overflow: scroll;
  white-space: nowrap;
}



/* Calender */

.calendar-base {
  width: 700px;
  height: fit-content;
  border-radius: 20px;
  position: relative;
  z-index: -1;
  color: black;
}

.year {
  color: black;
  font-size: 30px;
  float: right;
  position: relative;
  right: 75px;
  top: 20px;
  font-weight: bold;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid black;
  border-bottom: 5px solid transparent;
  float: right;
  position: relative;
  right: 90px;
  top: 36px;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid black;
  border-bottom: 5px solid transparent;
  float: right;
  position: relative;
  left: 35px;
  top: 36px;
}
.triangle-left:hover { border-right: 10px solid yellow; }
.triangle-right:hover { border-left: 10px solid yellow !important; }

.month-color { color: black; }
.month-hover:hover{ color: #CADA48 !important; }

.months {
  color: #888;
  position: relative;
  left: 215px;
  top: 90px;
  word-spacing: 8px;
  font-size: 15px;
  width: max-content;
  cursor: default;
}

.month-line {
  position: relative;
  top: 95px;
  width: 70%;
  left: 205px;
  z-index: 1;
  background: #888;
  height: 1.5px;
}

.days {
  color: #888;
  position: relative;
  font-size: 17px;
  left: 210px;
  top: 100px;
  word-spacing: 28px;
  font-weight: 600;
  width: max-content;
}

.num-dates {
  float: right;
  position: relative;
  top: 110px;
  right: 18px;
  z-index: 1;
  width: max-content;
}

.first-week {
  margin-bottom: 25px;
  word-spacing: 48px;
}

.second-week {
  margin-bottom: 25px;
  word-spacing: 48px;
}

.third-week {
  margin-bottom: 25px;
  word-spacing: 48px;
}

.fourth-week {
  margin-bottom: 25px;
  word-spacing: 48px;
}

.fifth-week {
  margin-bottom: 25px;
  word-spacing: 48px;
}

.sixth-week {
  margin-bottom: 25px;
  word-spacing: 48px;
}

.active-day {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: yellow;
  position: relative;
  top: 278px;
  left: 655px;
}

.white { color: black; }

.event-indicator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #2980B9;
  position: relative;
  top: 304px;
  left: 695px;
}

.two {
  position: relative;
  top: 168px;
  left: 535px;
}

.grey {
  color: #888;
}

.calendar-left {
  width: 200px;
  height: 412px;
  border-radius: 20px 0px 0px 20px;
  background-color: yellow;
  position: relative;
  z-index: -1;
  bottom: 0px;
  color: white;
  right: 540px;
  box-shadow: -8px 5px 10px 0px rgba(0, 0, 0, 0.17);
}

.num-date {
  font-size: 90px;
  width: 53%;
  margin: 0 auto;
  font-weight: 700;
  color: black;
  padding: 30px 0px 0px 0px;
}

.day {
  width: 50%;
  margin: 0px auto;
  font-size: 20px;
  position: relative;
  bottom: 10px;
  color: black;
}

.current-events {
  font-size: 15px;
  position: relative;
  margin-left: 25px;
  bottom: 0px;
  color: black;
  margin-top: 30px;
}

.create-event {
  font-size: 18px;
  position: relative;
  margin-top: 30px;
  margin-left: 25px;
}

.event-line {
  width: 90%;
}

.menu-button {
  color: black;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 900;
  transition: none;
  border: none !important;
  padding: 2px 30px 2px 9px;
  background: #f9f9f9;
}
.menu-button:hover, .close-button:hover {
  background: black;
  color: #fff;
}

.close-button {
  font-size: 20px;
  cursor: default;
  font-weight: 900;
  padding: 2px 30px 2px 5px;
  background: #f9f9f9;
  position: absolute;
  right: -52px;
  border-radius: 4px;
}

.calendar_background{
  background: #dadada88;
  width: fit-content;
  padding: 5px 0px 100px 0px;
  position: absolute;
  z-index: -1;
  top: 100px;
  right: 120px;
  border-radius: 20px;
}




/* educator Exams.css */
.exams_search_container button {
  background: url('../images/light/search_light.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.exams_wrap_input {
  margin-top: 100px;
  border-bottom: 2px solid #adadad;
  position: relative;
  width: 280px;
  height: 50px;
  margin-left: 50px;
  left: -90px;
}
.wrap_login {
  margin-top: 10%;
  margin-left: -50px;
}

.exams_wrap_input input {
  outline: none;
  border: none;
}
#digit-1, #digit-2, #digit-3, #digit-4, #digit-5 {
  border: 2px solid #888;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: black;
  margin: 50px 10px 0px 10px;
}

.exams_new_input {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: 0 0;
  padding: 0 5px;
}

.exams_new_input_span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: -10px;
  left: 0;
  pointer-events: none;
}

.exams_new_input_span::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  background: yellow;
  background: -webkit-linear-gradient(left,yellow, yellow, #000000);
  background: -o-linear-gradient(left,yellow, yellow, #000000);
  background: -moz-linear-gradient(left,yellow, yellow, #000000);
  background: linear-gradient(left,yellow, yellow, #000000);
}
.exams_new_input_span::after {
  font-family: Poppins-Regular;
  font-size: 15px;
  /*color: #555;*/
  color: grey;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0;
  padding-left: 5px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

.exams_new_input:focus+.exams_new_input_span::after {
  top: -10px
}

.exams_new_input:focus+.exams_new_input_span::before {
  width: 100%
}

.has-val.exams_new_input+.exams_new_input_span::after {
  top: -10px
}

.has-val.exams_new_input+.exams_new_input_span::before {
  width: 100%
}
.warning, .warningg, .redirect {
  position: fixed;
  top: 10px;
  background: #ffc3c3;
  color: red;
  padding: 15px 10px;
  border: 1px solid red;
  border-radius: 10px;
  z-index: 2;
}

.redirect {
  color: black;
  border: 1px solid black;
  background: #ffff98;
}

.exams_my_exams ul span, .exams_upcoming ul span {
  background: black;
  width: 30px;
  display: inline-flex;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #fff;
}

.exams_my_exams div, .exams_upcoming div { background: yellow; }

.exams_my_exams li, .exams_upcoming li {
  margin: 20px 0px;
  font-size: small;
  box-shadow: 1px 2px 5px #00000057;
  border-radius: 10px;
  padding: 10px;
}

.exams_my_exams button, .exams_upcoming button {
  background: black;
  border-radius: 50px;
  font-size: smaller;
  padding: 2.5px 5px;
  cursor: pointer;
  color: #fff;
  margin-left: 9px;
}
.exams_my_exams button:hover, .exams_upcoming button:hover {
  background: yellow !important;
  color: black;
}
.create_exam_btn:hover, .cancel_exam_create:hover, .add_questions:hover {
  background: yellow !important;
  color: black !important;
}

.textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
}

.sliding-stroke {
  width: 100%;
  height: 4px;
  background-color: black;
}


/* EXAMS QUESTIONS */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(19,20,24);
  background: linear-gradient(180deg, rgba(19,20,24,1) 20%, rgba(0,100,0,1) 50%, rgba(19,20,24,1) 80%);
  /*display: flex;*/
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  display: none; /* Initially hidden */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
