{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nibo test Network</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  </head>
  <body>
    <div class="main_div">
    <header>
      <div class="header_h1">
        <link rel="icon" type="image/png" href="{% static 'images/nibo_test_network.png' %}">
        <h1 style="display: flex;">NIBO <sup style="font-size: xx-small;">Test Network</sup></h1>
      </div>
      <ul>
        <li><a href="{}">Home</a></li>
        <li><a href="{}">Exam</a></li>
        <li><a href="{}">Features</a></li>
        <li><a href="{}">Benefits</a></li>
        <li><a href="{}">About Us</a></li>
      </ul>
      <div class="header_login_signup">
        <button class="one"><a style="color: black;" href="{}">Student Log in</a></button>
        <button class="two"><a style="color: black;" href="{}">Educator Sign up</a></button>
      </div>
    </header>
    <section class="main">
      <div class="main_words">
        <h1 style="font-size: 40px;">Effortless exam experience from the start</h1>
        <p style="font-size: 18px;">Sleek design for seamless naviagtion</p>
        <button><a href="{}">Try for free</a></button>
      </div>
      <div class="main_img_cover">
        <div class="main_image"></div>
      </div>
    </section>
    </div>
    <section class="body_signin">
      <div class="body_signin_words">
      <h2 style="margin-bottom: 5%;">Seamless app integration for enhanced sign in</h2>
      <p style="font-size: 15px;">Discover seamless sign in integration to access your student account effortlessly </p>
      <p style="font-size: 15px;">As technology advances, adapting to online exams is crucial. We provide the tools for a smooth transition.</p>
      <button><a href="{}">Sign in as student</a></button>
      </div>
      <div class="body_signin_icons_cover">
        <div class="google_ico"></div>
        <div class="github_ico"></div>
        <div class="discord_ico"></div>
        <div class="slack_ico"></div>
      </div>
    </section>

    <section class="features">
      <div class="features_words">
        <h4 style="color: #8888; font-size: 20px;">Features</h4>
        <h2>Tailored solutions for all users</h2>
        <p style="font-size: medium;">Whether you're an individual learner or an educational institution, our platform caters to your
          specific requirements. We prioritize undestanding your needs.
        </p>

        <button><a href="{}">Explore now</a></button>
      </div>
      <div class="features_img_cover">
        <div class="features_image"></div>
      </div>
    </section>

    <section class="features_big_img">
      <h4 style="padding: 150px 0px 50px 0px;">FEATURES</h4>
      <h3 style="font-size: xx-large; letter-spacing: 1px; margin-bottom: 20px;">Optimal exam experience</h3>
      <p style="font-size: 20px; margin-bottom: 80px;">Register for a free demo and discover the full portential of our platform.</p>

      <button><a href="{}">Get demo access</a></button>

      <div></div>
    </section>

    <section style="text-align: center; margin-top: 10%;" class="stories">
      <h2>Exam Success Stories</h2>
      <p style="font-size: 18px;">Explore success stories of users who have excelled with our exam solutions. Learn how our application can effectively
        enhance your exam preparation
      </p>
      <div class="stories_div">
        <div class="stories_one"></div>

        <div class="stories_two"></div>

        <div class="stories_three"></div>
      </div>
    </section>

  </body>
</html>