{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nibo test Network</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  </head>
  <body>
    <div class="main_div">
    <header>
      <div class="header_h1">
        <link rel="icon" type="image/png" href="{% static 'images/nibo_test_network.png' %}">
        <h1 style="display: flex;">NIBO <sup style="font-size: xx-small;">Test Network</sup></h1>
      </div>
      <ul>
        <li><a href="{}">Home</a></li>
        <li><a href="{}">Exam</a></li>
        <li><a href="{}">Features</a></li>
        <li><a href="{}">Benefits</a></li>
        <li><a href="{}">About Us</a></li>
      </ul>
      <div class="header_login_signup">
        <button class="one"><a style="color: black;" href="{}">Student Log in</a></button>
        <button class="two"><a style="color: black;" href="{}">Educator Sign up</a></button>
      </div>
    </header>
    <section class="main">
      <div classs="main_words">
        <h1>Effortless exam experience from the start</h1>
        <h3>Sleek design for seamless naviagtion</h3>
        <a href="{}"><button>Try for free</button></a>
      </div>
      <div class="main_img">

      </div>
    </section>
    </div>

    <section class="body">
      <h4>Exam Categories</h4>
      <h2>Customize your exam environment</h2>
      <h5>As technology advances, adapting to online exams is crucial. We provide the tools for a smooth transition.</h5>
      <div class="body_img"></div>
      <h2>Start your journey to success</h2>
      <h4>Register for a free 14-day trial now! No obligations</h4>
      <button>Sign up for free</button>
    </section>

    <section class="fetures">
      <div class="fetures_words">
        <h2>Tailored solutions for all users</h2>
        <h4>Whether you're an individual learner or an educational institution, our platform caters to your
          specific requirements. We prioritize undestanding your needs.
        </h4>

        <button> Explore now </button>
      </div>
      <div class="fetures_img">

      </div>
    </section>

    <section class="feature_big_img">
      <h4>Features</h4>
      <h3>Optimal exam experience</h3>
      <h5>Register for a free demo and discover the full portential of our platform.</h5>

      <button>Get demo access</button>

      <div></div>
    </section>

    <section class="stories">
      <h2>Exam Success Stories</h2>
      <h3>Explore success stories of users who have excelled with our exam solutions. Learn how our application can effectively
        enhance your exam preparation
      </h3>
      <div class="stories_div">
        <div class="stories_one"></div>

        <div class="stories_two"></div>

        <div class="stories_three"></div>
      </div>
    </section>
  </body>
</html>